body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div#saidafundo{ 
    border-radius: 20px;
    margin-right: 400px;
    margin-left: 700px;
    margin-top: 150px; 
    width: 400px;
    height: 300px;
    position: absolute;
}
div#saida{ 
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%; 
    width: 400px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    max-height: 490px;    
   
}
div#fundo{
    border-radius: 20px;   
    align-items: center;    
    margin-left: 450px;
    margin-top: 30px;
    width: 400px;
    height: 580px;
    position: absolute;
    background-color: gainsboro;
}
div#cabecalho{
    color: black;
    font-weight: bold;
    border-radius: 20px;     
    margin-left: 10px;
    margin-right: 10px;        
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    height: 40px;
    width: 380px;
    text-align: center;
    font-size: 14px;
}
div#footer{
    color: black;
    font-weight: bold;
    border-radius: 20px;  
    margin-left: 10px;
    margin-right: 10px;        
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    height: 40px;
    width: 380px;
    text-align: center;
    font-size: 14px;
}
div#linha{
    background-color: #141414;
    margin-left: 10px;
    margin-right: 10px; 
    height: 5px;
    width: 380px;
}
div#form{    
    color: black;
    font-weight: bold; 
    width: 400px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 3px;
   
}
input[type=text], input[type=number]{
    background-color: #E6E6FA;
    border-radius: 5px;
    padding:5px;
    width: 750;
    border: 1px solid #999;
    outline: 0;  
   
     
}
div#botao{
    border-bottom: 50px;
    margin-top: 25px;
    margin-left: 135px;  
     
}

label{
    width: 180px;
    display: inline-block;
    font-size: 12px;
    
}