div#saidafundo{ 
    border-radius: 20px;
    margin-right: 400px;
    margin-left: 700px;
    margin-top: 150px;
    
  
    width: 400px;
    height: 300px;
    position: absolute;
}
div#saida{ 
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    max-height: 490px;   
   
   
}



div#fundo{
    border-radius: 20px;
   
    align-items: center;
    
    margin-left: 450px;
    margin-top: 50px;
    width: 400px;
    height: 600px;
    position: absolute;
}
div#cabecalho{
    color: black;
    font-weight: bold;
    border-radius: 20px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;        
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 60px;
    width: 380px;
    text-align: center;
}
div#linha{
    background-color: #141414;
    margin-left: 10px;
    margin-right: 10px; 
    height: 5px;
    width: 380px;
}
div#form{
    
    color: black;
    font-weight: bold; 
    width: 400px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 16px;
}
input[type=text], input[type=tel], input[type=date]{
    background-color: #E6E6FA;
    border-radius: 10px;
    padding: 10px;
    width: 800;
    border: 1px solid #999;
    outline: 0;  
   
     
}
div#botao{
    border-bottom: 50px;
    margin-top: 25px;
    margin-left: 135px;  
     
}

label{
    width: 180px;
    display: inline-block;
    
}